<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CamVisor</title>
    </head>
    <body>
        <h1>No hay mucho de momento, aquí irá el ejecutable y demás</h1>
    </body>
</html>