<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <form id="authForm">
      <h2 style="text-align: center;">Inicio</h2>
      <input type="email" id="email" placeholder="Email" required />
      <input type="password" id="password" placeholder="Clave" required />
      <button type="submit" id="loginBtn">Iniciar sesión</button>
      <a class="back-link" href="/register">Registrarse</a>
    </form>

    <%- include('partials/firebase-auth') %>
    
    <script type="module">
      import {
        getAuth,
        signInWithEmailAndPassword,
      } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-auth.js";

      const auth = getAuth();
      document
        .getElementById("authForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;

          try {
            const userCred = await signInWithEmailAndPassword(
              auth,
              email,
              password
            );
            const token = await userCred.user.getIdToken();
            document.cookie = `idToken=${token}; path=/; max-age=${
              60 * 60 * 24 * 30
            }`;
            window.location.href = `/user/${userCred.user.uid}`;
          } catch (err) {
            alert("Login failed.");
            console.error(err);
          }
        });
    </script>
  </body>
</html>