<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

    <!-- Navbar Partial -->
    <%- include('partials/navbar', { id }) %>

    <!-- Main content -->
    <div class="container">
      <h1>¡Bienvenido! </h1>
      <h2>Usuario con ID = <%- locals.id %></h2>
      <p>Este es tu perfil, no hay mucho por ahora.</p>
    </div>
  </body>
</html>